<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devolucoes</title>
</head>
<body>
    <div style="height: 100vh; width: 100%;">
<iframe title="Margem de Contribuição"
        width="100%" height="100%"
        src="https://app.powerbi.com/reportEmbed?reportId=3c158718-03f7-42cd-88f0-d28189595c61&autoAuth=true&ctid=95d77a01-df0c-4b3d-bee4-26ee29066dd7" ></iframe>
    </div>
</body>

<script>
    window.addEventListener('load', async () => {
setTimeout(() => {
        window.location.href = "DashboardComercial.html";
    }, 30000);
});
</script>
</html>
